* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 21cm;
    min-height: 29.7cm;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 14px;
    background: #303846;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.header h1 {
    color: #fff;
}

.header p {
    color: #979BA2;
}

.contacts {
    display: flex;
    padding-top: 20px;
    gap: 40px;
}

.contacts a {
    color: #979BA2;
    text-decoration: none;
}

main {
    display: flex;
}

.left {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.education {
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.education h2 {
    font-weight: 400;
    color: #303846;
}

.education .description {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.education .description div {
    width: 68%;
    padding-bottom: 20px;
}

.education .description p {
    padding-top: 5px;
}

.education span {
    width: 100%;
    height: 1px;
    background: #eee;
}

.employment {
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.employment h2 {
    font-weight: 400;
    color: #303846;
}

.employment .description {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.employment-sweetspot{
    padding-top: 20px;
}

.employment-left {
    width: 70%;
    padding-bottom: 20px;
}
.employment-right p:nth-child(2){
    padding-top: 50px;
}

.employment span {
    width: 100%;
    height: 1px;
    background: #eee;
}

.about-me {
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.about-me h2 {
    font-weight: 400;
    color: #303846;
}

.about-me .description div {
    padding-top: 24px;
    width: 100%;
    padding-bottom: 20px;
}

.about-me span {
    width: 100%;
    height: 1px;
    background: #eee;
}

.portfolio {
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.portfolio h2 {
    font-weight: 400;
    color: #303846;
}

.portfolio h4 {
    padding: 12px 0;
}

.portfolio-items {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.portfolio-items h3 {
    font-weight: 550;
    padding-bottom: 5px;
}

.portfolio-items a {
    color: #000;
}

.line {
    width: 1px;
    background: #eee;
    margin: 20px 0;
}

.right {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.right .personal {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.personal h2 {
    font-weight: 400;
    padding-bottom: 8px;
}


.personal div {
    padding: 7px 0;
    display: flex;
    gap: 25px;
}

.personal div i {
    padding-top: 10px;
}

.personal span {
    height: 1px;
    background-color: #eee;
}

.right .hard {
    padding: 0 20px;
    padding-top: none;
    display: flex;
    flex-direction: column;
}

.hard h2 {
    font-weight: 400;
    padding-bottom: 7px;
}

.hard p {
    display: flex;
    gap: 4px;
    align-items: center;
}

.hard div {
    padding-bottom: 20px;
}

.skills-span {
    height: 14px;
    width: 14px;
    background: #303846;
    border: none;
}

.hard>span {
    height: 1px;
    background-color: #eee;
}

.right .soft {
    padding: 20px;
    padding-top: none;
    display: flex;
    flex-direction: column;
}

.soft h2 {
    font-weight: 400;
    padding-bottom: 8px;
}

.soft p {
    display: flex;
    gap: 4px;
    align-items: center;
}

.soft>span {
    height: 1px;
    background-color: #eee;
}

.soft div {
    padding-bottom: 20px;
}


.right .languages {
    padding: 0 20px;
    padding-top: none;
    display: flex;
    flex-direction: column;
}

.languages h2 {
    font-weight: 400;
    padding-bottom: 8px;
}

.languages p {
    display: flex;
}

.languages div {
    padding-bottom: 20px;
}